* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 100vw;
  background-color: #f2f2f2;
  border-bottom: 1px solid #d4d4d4;

  div {
    margin: 20px;
  }

  a {
    text-decoration: none;
    color: #5f6368;
    font-size: 14px;
    font-family: arial, sans-serif;
    font-weight: bold;
    margin: 10px;
  }
}

h1 {
  font-size: 24px;
  font-family: arial, sans-serif;
  font-weight: bold;
  margin: 10px 20px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
// https://www.geeksforgeeks.org/how-to-include-a-font-ttf-using-css/
@font-face {
  font-family: ProductSans;
  src: url("./fonts/ProductSansRegular.ttf");
}

.title {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  font-family: ProductSans, sans-serif;
  // Set first child
  h2:first-child,
  h2:nth-child(4) {
    color: #4285f4;
  }
  // Set second child
  h2:nth-child(2),
  h2:last-child {
    color: #ea4335;
    transform: rotate(-25deg);
  }
  // Set third child
  h2:nth-child(3) {
    color: #fbbc05;
  }
  // Set fourth child
  h2:nth-child(5) {
    color: #34a853;
  }
}

.search-bar {
  border: 1px solid #dfe1e5;
  border-radius: 999px;
  width: 40vw;
  height: 40px;

  input {
    display: block;
    margin: 5px auto;
    outline: none;
    width: 90%;
    height: 25px;
    border: transparent;
    font-size: 16px;
  }
}

// CSS selector based on type, submit
input[type="submit"] {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  padding: 0 16px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-pair {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 20vw;
  margin: 10px;

  input {
    height: 25px;
    border-radius: 6px;
    border: 1px #dfe1e5 solid;
  }
}

.red {
  color: red;
  margin: 40px;
}

.blue-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 20vw;

  .advanced-button {
    background-color: #3f83f1;
    color: white;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  gap: 15px;
}
